.bg-pink{
    border-bottom: 2px solid transparent;
    border-image: linear-gradient(to right, $beige 0%, $pink 100%) 1;
}
.bg-beige{
    background-color: $beige;
}
.bg-black{
    background-color: black;
}
.bgc-pink{
    background-color: $pink;
}