.btn-pink{
    background-color: white;
    border: 1px solid    ;
    color: $pink;
}
.btn-pink:hover{
    background-color: $pink;
    color: white;
}
.btn-whatsapp {
    display:block;
    widows: 30px;
    color: #fff;
    position: fixed;
    right:20px;
    bottom:20px;
    border-radius:50%;
    line-height:80px;
    text-align:center;
    z-index:999;
    img{
        width: 50px;
    }
}