
.carousel {
    background:white;
    width: 500px;
  }
  


.carousel-item .img-fluid {
    width: 100%;
  }
@media only screen and (min-width: 1400px){
    .carousel{
      width: 800px;
    }
  }
 
  .carousel-item{
    a {
      display: block;
      width:100%;
    }
}