.products-columns-4{
    img{
        height: 200px;
        width: 200px;
    }
    ul{
        li{
            padding: 5px;
            h2{
                color: black;
            }
        }
    }
}