.hiper-decoration{
    text-decoration: none;
    color: black;
}
.hiper-nav{
    h6 a{
    color: $pink;
    }
}

.product-color{
    a:hover{
        color:$pink;
        text-decoration-color:$pink ;
    }
    h3{
        color:$pink;
    }
}